* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: mont;
    src: url(../fonts/Montserrat-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(238, 238, 238);
    font-family: mont;
}

/******************** header****************/

header nav {
    background-color: #ff7f00;
    color: white;
}

header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 65px;
}

header nav .container ul {
    display: flex;
    align-items: center;
}

header nav .container ul li {
    list-style: none;
}

header nav .container ul li a {
    text-decoration: none;
    color: #fff;
}

header nav .container ul li:first-child {
    margin-right: 2rem;
}

/******************** helpers****************/

.container {
    max-width: 1200px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/********** canvas ***************/

canvas {
    display: block;
    border: 1px solid rgb(135, 135, 135);
    background-color: rgb(255, 255, 255);
}

.canvas-container {}

/********** GALLERY GRID ***************************/

.meme-gallery {
    margin: 1rem auto;
}

img {
    width: 100%;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

/************* meme edtior div ***************************/

.meme-editor {
    display: none;
    max-width: 1200px;
    margin: 1.625rem auto;
    justify-content: space-between;
}

.meme-editor img {
    width: 2.5rem;
}

.meme-editor button {
    width: 3.75rem;
    height: 3.75rem;
    border: none;
    border-radius: 12px;
    background-color: white;
}

.control-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-text #img-txt {
    margin: auto;
    display: flex;
    width: 370px;
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    padding: 20px;
    outline: none;
    color: #444444;
}

#img-txt::placeholder {
    font-size: 1.25rem;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.687rem;
}

.btn-add>*:not(:last-child) {
    margin-right: 1.125rem;
}

.font-size {
    display: flex;
    justify-content: center;
    margin-top: 2.812rem;
}

.font-size>*:not(:last-child) {
    margin-right: 1.125rem;
}

.font-misc select {
    width: 13.625rem;
    border: none;
    border-radius: 12px;
    outline: none;
}

.opt {
    font-size: 1.25rem;
}

.font-misc {
    display: flex;
    justify-content: center;
    margin-top: 0.687rem;
}

.font-misc>*:not(:last-child) {
    margin-right: 1.125rem;
}

.download  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.687rem;
}
.download a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#ff7f00;
    transition: .3s;
}

.download button {
    font-family: mont;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:#ff7f00;
    outline: none;
}
.download button a:hover{
    color:#00b315;
}

.fa-file-download {
    font-size: 1.5rem;
    margin-left:1rem;
}

/************** mobile nav ***********************/

.hamburger-icon {
    font-size: 1.5rem;
    display: none;
}

.hamburger-icon {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    background-color: #ff7f00;
    text-align: center;
    padding: 1rem;
}

.mobile-nav ul li {
    list-style: none;
    padding: 1rem;
}

.mobile-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
/******** color pick *********/
.colorPicker{
    position: absolute;
    height:40px;
    width:40px;
    opacity:0;
    cursor: pointer;
}
.colorPickerStroke{
    position: absolute;
    height:40px;
    width:40px;
    opacity:0;
    cursor: pointer;
}
/**************** profile **********************/
.profile{
    
    height:750px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.profile-items{
    max-width:1200px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:auto;
}
.profile-img img{
    width:15rem;
    height:15rem;
    border-radius: 50%;
    object-fit: cover;
}
.profile-txt{
    width:50%;
    display: flex;
    flex-direction: column;
    padding:1.5rem;
}
.profile-txt h1{
    margin-bottom:1rem;
}
.profile-icons{
    font-size:1rem;
    display: flex;
}
.profile-icons a{
    color: #fff;
    text-decoration: none;
    outline: none;
    margin-right:10px;
    margin-top:2rem;
}
.profile-icons i{
    background-color:#ff7f00;
    height:25px;
    width:25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.profile-icons i:hover{
    background-color: #258c64;
}

/************ footer ***************/
footer{
    height:210px;
    background: #ff7f00;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer h1{
    padding:10px;
}

/*************** search ********************/
.input-container{
    width:100%;
    background-color: #fff;
}
.search{
    max-width: 1200px;
    height:10.625rem;
    
    display:flex;
    align-items: center;
}
.search-bar-keys{
    max-width:1200px;
    display:flex;
    align-items: center;
    margin:auto;
}
.search input{
    width:16.25rem;
    margin-left:1rem;
    border:none;
    border-bottom:2px solid black;
    padding:5px;
    font-size:1.187rem;
    outline: none;
}
.fa-search{
    cursor: pointer;
}

/******* keywords **********/
.keywords button{
    display: inline-block;
    border:none;
    color:#ff7f00;
    background-color: transparent;
    margin-left:3rem;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: 0.3s;
}
.keywords button:hover{
    color:rgb(255, 68, 0);
}
/************* meida ***********************/

@media(max-width:1200px) {
    header nav .container h1 {
        margin-left: 1rem;
    }
    header nav .container ul {
        margin-right: 1rem;
    }
    .grid-container {
        padding: 1rem;
    }
    .hamburger-icon {
        margin-right: 1rem;
    }
    .keywords button{
        margin-left:1rem;
    }
}

@media(max-width:1000px){
    .meme-editor{
        flex-direction: column;
    }
    canvas{
        margin:auto;
        width:500px;
        height:500px;
    }
    .control-box{
        margin-top:1rem;
    }
    .search-bar-keys{
        flex-direction: column;

    }
    .keywords button{
        margin-bottom:1rem;
    }
}

@media(max-width:720px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
    nav ul li {
        display: none;
    }
    .hamburger-icon {
        font-size: 1.5rem;
        display: block;
    }
    .profile-items{
        flex-direction: column;
        text-align: center;
    }
    .profile-txt{
        width:90%;
    }
    .profile-icons{
        margin:auto;
    }
    .keywords button{
        margin-left:.2rem;
    }
}

@media(max-width:530px){
    .meme-editor{
        flex-direction: column;
    }
    canvas{
        margin:auto;
        width:400px;
        height:400px;
    }
    .control-box{
        margin-top:1rem;
    }
    .keywords button{
        
        margin-bottom:1rem;
    }
}

@media(max-width:380px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .control-box{
        padding:15px;
    }
    .add-text #img-txt{
        width:345px;
    }
    canvas{
        margin:auto;
        width:370px;
        height:370px;
    }
    .keywords button{
        margin-left:.5rem;
        margin-bottom:1rem;
    }

}